body {
  margin: 0;
  padding: 0;
  background-color: #2b2929;
  color: #e0e1dd;
  font-family: "Times New Roman", Times, serif;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #495057 #212529;
}
.header-text {
  font-size: 72px;
  color: #edf2f4;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.logo-png {
  height: 64px;
  width: 64px;
}

.main {
  background-color: #1b263b;
  border: 1px solid #000000;
  box-sizing: border-box;
  overflow: auto;
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  grid-area: 2 / 1 / 13 / 13;
}

.card-content {
  height: auto;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.card-content img {
  width: 90%;
  height: auto;
  display: block;
}

.card-content p {
  margin-top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  color: white;
  border-top: 2px solid #151515;
  transform: translateY(-40px);
}

.header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
  font-size: 1.5em;
  font-family: fantasy;
  color: #778da9;
}

input {
  margin-bottom: 8px;
  margin-top: 8px;
  border-radius: 8px;
  width: 120px;
  text-align: center;
}

button {
  background-color: #1b263b;
  color: white;
}

button:hover {
  color: white;
  background-color: #2d89f1;
  transition: 0.3s ease-in;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  width: 40px;
  height: 40px;
  z-index: 10;
}

.slider-button.left {
  left: 10px;
}

.slider-button.right {
  right: 10px;
}

.slider-image {
  position: absolute;
  top: 50px;
  transform: translate(-50%);
  width: 100%;
  max-height: 170px;
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: transparent;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  text-align: center;
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}

.close:hover {
  color: #ccc;
}

@media screen and (max-width: 640px) {
  .header-text {
    font-size: 1.5em;
  }
  button,
  input {
    margin-bottom: 8px;
    margin-top: 8px;
    border-radius: 8px;
    width: 68px;
    text-align: center;
  }
}

@media screen and (max-width: 440px) {
  .header-text {
    font-size: 1.1em;
  }
  button,
  input {
    margin-bottom: 8px;
    margin-top: 8px;
    border-radius: 8px;
    width: 68px;
    text-align: center;
  }
}
